{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<!-- Les migrations ne fonctionnent pas, php "cassé" -->
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Admin/Documents/Epsi/script/Symfony/Eval/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Admin/Documents/Epsi/script/Symfony/Eval/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
    <table>
        <tr>
            <th>Société</th><th>Nom</th><th>Prénom</th><th>Email</th><th>IBAN</th>
        </tr>
        {% for row as clients %}
        <tr>
            <td>{{row.Societe}}</td><td>{{row.Nom}}</td><td>{{row.Prenom}}</td>
            <td>{{row.Email}}</td><td>{{row.IBAN}}</td>
            <td><a href="{{ path("supprimer",{"IBAN": Client.IBAN}) }}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
